@page
@model Mission9_cam4del.Pages.CheckoutCompleteModel
@{
}

<div class="text-center">
    <h2>Thank you for your order!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>